.banner {
  overflow: hidden;
  width: 100vw;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3rem;

  img {
    width: 100vw;
  }
}

.postContent {
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  .summary {
    color: var(--gray-300);
    margin: 1.5rem 0;

    svg {
      margin-right: 0.5rem;
    }

    span {
      margin-left: 1.5rem;
    }
  }

  header {
    font-size: 2.25rem;
    font-weight: 600;
  }
}

.postContentBody {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--gray-100);
  text-align: justify;

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
    margin: 0.5rem 0;
    }
  }
}
